.eon-board-container {
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	transform:rotateX(180deg);
	-ms-transform:rotateX(180deg); /* IE 9 */
	-webkit-transform:rotateX(180deg); /* Safari and Chrome */
	width: 100%;
	background-color: var(--eon-bg);
	border: 1px solid var(--eon-border-color);
	border-top: 0;
}

.eon-board {
	margin-top: 10px;
	min-height: 200px;
	transform:rotateX(180deg);
	-ms-transform:rotateX(180deg); /* IE 9 */
	-webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.years {
	white-space: nowrap;
	margin-top: -4px;
	position: absolute;
}

span.year {
	font-size: 12px;
	display: inline-block;
	color: var(--year-font-color);
	height: 100%;
	border-left: 1px solid var(--year-font-color);
	padding: 10px 0;
	line-height: 10px;
	writing-mode: vertical-lr;
	text-orientation: mixed;
}
span.year.highlight {
	background-color: var(--eon-highlight);
}

span.year .year-title {
	transform:rotateX(90deg);
	-ms-transform:rotateX(90eg); /* IE 9 */
	-webkit-transform:rotateX(90deg); /* Safari and Chrome */
}
